PORT=3333
NODE_ENV=development
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/radaraprende-dev?appName=RadarAprende
JWT_SECRET=replace-with-a-secure-secret
JWT_EXPIRES_IN=1d
SEED_DATABASE_NAME=radaraprende-dev